@tailwind base;
@tailwind components;
@tailwind utilities;


.element {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
.element::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }